:root {
  --primary-location-color: #8b7355;
  --secondary-location-color: white;
  --accent-location-color: #555;

  --font-xl: 3rem;
  --font-lg: 2.25rem;
  --font-md: 1.5rem;
  --font-sm: 1.25rem;
  --font-xs: 1.125rem;
  --font-xxs: 1rem;
}

.locationCard {
  background-color: var(--secondary-location-color);
  border: 0.125rem solid var(--primary-location-color);
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.locationCard:hover {
  border-color: var(--primary-location-color);
  box-shadow: 0 20px 25px 05px rgba(0, 0, 0, 0.1);
}

.locationCardSaveButton {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--secondary-location-color);
  color: var(--primary-location-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(139, 115, 85, 0.4);
  transition: background-color 0.2s ease;
  cursor: pointer;
  border-radius: 50%;
}

.locationCardSaveButton svg {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--primary-location-color);
}

.locationCardSaveButton svg:hover {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--secondary-location-color);
  fill: var(--primary-location-color);
}

.locationCardSaveButton.active svg {
  color: var(--secondary-location-color);
  fill: var(--primary-location-color);
}

.locationCardImageWrapper {
  position: relative;
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.locationCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  line-height: 0;
  transition: transform 0.4s ease;
}

.locationCardImage:hover {
  transform: scale(1.05);
}

.locationCardCategory {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  padding: 0.2rem 0.7rem;
  background-color: var(--secondary-location-color);
  border: 1px solid var(--primary-location-color);
  font-size: var(--font-xxs);
  text-transform: uppercase;
  color: var(--primary-location-color);
}

.locationCardContent {
  padding: 0.25rem;
}

.locationCardTitle {
  font-size: var(--font-md);
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  color: var(--primary-location-color);
  text-align: left;
}

.locationCardSubtitle {
  display: flex;
  text-align: left;
  gap: 0.25rem;
  color: var(--accent-location-color);
  font-size: var(--font-xs);
  margin-bottom: 0.5rem;
  font-style: italic;
}

.locationCardRatings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding-top: 0.5rem;
  border-top: 2px solid var(--primary-location-color);
}

.locationCardRatingsContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.locationCardRating {
  font-size: var(--font-xxs);
  color: var(--primary-location-color);
  margin-bottom: 0.25rem;
}

.locationCardRatingValue {
  display: flex;
  flex-direction: row;
}

.locationCardRatingNumber {
  font-size: var(--font-md);
  color: var(--primary-location-color);
  font-weight: 600;
}

.locationCardRatingMax {
  font-size: var(--font-xs);
  color: var(--accent-location-color);
}

.locationCardAccent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
